<ion-header>
  <ion-toolbar color="success">
    <ion-title>Solicitudes Disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="comunaV == buena">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Nombre: {{nombreV}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Desde : {{ Desde}}<br>
        Hasta : {{comunaV}}<br>
        Patente : {{patenteV}}<br>
        Costo : ${{ costoV }}<br>
        Asientos Dispo: {{ asientoV }}

        <div *ngIf="punto == 0">
          <ion-item style="margin-top: 20px;">
            <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
            <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
              <ion-select-option value="1">1 Asiento</ion-select-option>
              <ion-select-option value="2">2 Asientos</ion-select-option>
              <ion-select-option value="3">3 Asientos</ion-select-option>
              <ion-select-option value="4">4 Asientos</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div *ngIf="punto == 1">
          <ion-item style="margin-top: 20px;" disabled>
            <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
            <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
              <ion-select-option value="1">1 Asiento</ion-select-option>
              <ion-select-option value="2">2 Asientos</ion-select-option>
              <ion-select-option value="3">3 Asientos</ion-select-option>
              <ion-select-option value="4">4 Asientos</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="punto == 0">
          <ion-button (click)="click()">Tomar Viaje</ion-button>
        </div>
        <div *ngIf="punto == 1">
          <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
        </div>

      </div>
    </ion-accordion>
  </ion-accordion-group>
  </div>

  <div *ngIf="comunaV == buena2">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>
    
  <div *ngIf="comunaV == buena3">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena4">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena5">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena6">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena7">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena8">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena9">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena10">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena11">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena12">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena13">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena14">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

  <div *ngIf="comunaV == buena15">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Nombre: {{nombreV}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Desde : {{ Desde}}<br>
          Hasta : {{comunaV}}<br>
          Patente : {{patenteV}}<br>
          Costo : ${{ costoV }}<br>
          Asientos Dispo: {{ asientoV }}
          <div *ngIf="punto == 0">
            <ion-item style="margin-top: 20px;">
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div *ngIf="punto == 1">
            <ion-item style="margin-top: 20px;" disabled>
              <ion-label position="floating" value=""  >Asientos <span style="color: red;">*</span></ion-label>
              <ion-select placeholder="Cantidad de Asientos" value="" [(ngModel)]="Asi">
                <ion-select-option value="1">1 Asiento</ion-select-option>
                <ion-select-option value="2">2 Asientos</ion-select-option>
                <ion-select-option value="3">3 Asientos</ion-select-option>
                <ion-select-option value="4">4 Asientos</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div *ngIf="punto == 0">
            <ion-button (click)="click()">Tomar Viaje</ion-button>
          </div>
          <div *ngIf="punto == 1">
            <ion-button (click)="click()" disabled>Tomar Viaje</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>

</ion-content>

<mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page"
style="background-color: #2dd36f;color: black;">
</mat-paginator>
