<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Comentarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let x of Comentarios">
    <ion-card color="success">
      <ion-card-header>
        <ion-card-subtitle>ID: {{ x.idComentario }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Comentario: {{ x.comentario }}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
