<ion-header>
  <ion-toolbar color="success">
    <ion-title>Crear Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item fill="solid">
    <ion-label>Nombre: {{ nombreextras }}</ion-label>
  </ion-item>

  <ion-item style="margin-top: 20px;">
    <ion-label position="floating" value=""  >Comuna destino <span style="color: red;">*</span></ion-label>
    <ion-select placeholder="Seleccione su destino" value="" [(ngModel)]="comun">
      <ion-select-option value="1">Cerrillos</ion-select-option>
      <ion-select-option value="2">Cerro Navia</ion-select-option>
      <ion-select-option value="3">Conchalí</ion-select-option>
      <ion-select-option value="4">El Bosque</ion-select-option>
      <ion-select-option value="5">Estación Central</ion-select-option>
      <ion-select-option value="6">Huechuraba</ion-select-option>
      <ion-select-option value="7">Independencia</ion-select-option>
      <ion-select-option value="8">La Cisterna</ion-select-option>
      <ion-select-option value="9">La Florida</ion-select-option>
      <ion-select-option value="10">La Pintana</ion-select-option>
      <ion-select-option value="11">La Granja</ion-select-option>
      <ion-select-option value="12">La Reina</ion-select-option>
      <ion-select-option value="13">Las Condes</ion-select-option>
      <ion-select-option value="14">Lo Barnechea</ion-select-option>
      <ion-select-option value="15">Lo Espejo</ion-select-option>
      <ion-select-option value="16">Macul</ion-select-option>
      <ion-select-option value="17">Maipú</ion-select-option>
      <ion-select-option value="18">Ñuñoa</ion-select-option>
      <ion-select-option value="19">Pedro Aguirre Cerda</ion-select-option>
      <ion-select-option value="20">Peñalolén</ion-select-option>
      <ion-select-option value="21">Providencia</ion-select-option>
      <ion-select-option value="22">Pudahuel</ion-select-option>
      <ion-select-option value="23">Quilicura</ion-select-option>
      <ion-select-option value="24">Quinta Normal</ion-select-option>
      <ion-select-option value="25">Recoleta</ion-select-option>
      <ion-select-option value="26">Renca</ion-select-option>
      <ion-select-option value="27">San Miguel</ion-select-option>
      <ion-select-option value="28">San Joaquín</ion-select-option>
      <ion-select-option value="29">San Ramón</ion-select-option>
      <ion-select-option value="30">Santiago Centro</ion-select-option>
      <ion-select-option value="31">Vitacura</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item fill="solid" style="margin-top: 20px;">
    <ion-label position="floating">Ingrese la tarifa del viaje:</ion-label>
    <ion-input [(ngModel)]="tarifa" type="number"></ion-input>
    <ion-note slot="helper">Tarifa</ion-note>
  </ion-item>

   <!-- <div *ngFor="let x of Auto">
    <label for="Patente: {{x.patente}}">
      <input id="Patente: {{x.patente}}" [value]='x.patente' type="radio" name="patente" [(ngModel)]="radioSelected">
      {{x.patente}}
    </label>
  </div>  -->

  <h3 style="margin-top: 20px;">Seleccione el vehiculo que quiere usar:</h3>
  <ion-list>
    <ion-radio-group [allowEmptySelection]="true"  [(ngModel)]="radioSelected">
      <div *ngFor="let x of Auto">
      <ion-item>
        <ion-label>{{x.marca}}</ion-label>
        <ion-label>{{x.patente}}</ion-label>
        <ion-radio  id="Patente: {{x.patente}}" [value]='x.patente' name="patente" >{{x.patente}}</ion-radio>
      </ion-item>
      </div>
    </ion-radio-group>
  </ion-list>

  <!-- <h2>{{radioSelected}}</h2> -->
  
  <ion-button style="margin-top: 40px;"color="success"expand="full" (click)="crearviaje()">Crear viaje</ion-button>

  </ion-content>
