<ion-header >
  <ion-toolbar color="success">
  <ion-title>Inicio</ion-title>
  
</ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-card color="success">
      <ion-card-header>
        <ion-card-subtitle>Ubicacion estacionamiento= Pasaje talinay 653</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Costo del estacionamiento = $15000
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card color="success">
      <ion-card-header>
        <ion-card-subtitle>Ubicacion estacionamiento= rigoberto jara 123</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Costo del estacionamiento = $20000
      </ion-card-content>
    </ion-card>
  </ion-list>


  

  </ion-content>