<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>PERFIL CLIENTE FOTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <center>
    <img src="{{imagen}}" alt="La imagen aun no a sido tomada" style="width: 100px;">
    <div style="margin-top: 100px;">
      <ion-button (click)="Camara()">Foto</ion-button>
    </div>
    <div>
      <ion-button (click)="Galeria()">Galeria</ion-button>
    </div>
    <div>
      <ion-button (click)="Guardar()">Guardar</ion-button>
    </div>
  </center>
</ion-content>
